body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
  color: #3498DB;
}

a:hover {
  color: rgba(52, 152, 219, 0.589);
}

h1.top-title {
  color: #E74C3C;
}

img.me {
  float: left;
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  border: 5px solid #444;
  margin-right: 20px;
}

.center-align {
  text-align:center;
}

.text-darker{
  color: darkgray;
}

.text-thin {
  font-weight: 100;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.week {
  margin-top: 15px;
}

.card {
  margin-bottom: 30px
}

.bg-gray{
  background-color: #444;
}

.jumbotron {
  position: relative;
}

.social-panel{
  position: absolute;
  bottom: 10px;
}

.social-img {
  float: left;
  max-width: auto;
  max-height: 25px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .card-text:last-child {
    margin-bottom: 30px;
  }
}